<div class="grid-item">
  <div class="col-md-6 col-md-offset-3">
    <h3 style="color:  #ffcc00"><%= @photo.title %></h3>
    <p style="color:  #ffcc00"> <%= @photo.content %></p>
    <p style="color:  #ffcc00"> <%= link_to 'back to index', photos_path %></p>
  </div>
</div>
