* { box-sizing: border-box; }

html, body { 
  font-family: sans-serif; 
  margin: 0px;
  background: #fcf8e3/*hotpink*/;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
li{
  padding: 15px;
}
label, h4 {
  color: hotpink;
  font-weight: bold;  
}
input {
  height: auto !important;
}
a {
    color: floralwhite;
    text-decoration: none;
}
.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
}
.navbar-inverse {
    border-color: #fcf8e3;
}
.container{
  padding: 10px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: deeppink;
}
.block{
  background: lightpink;
  display: inline-block;
  width: 360px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: deeppink;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: white;
    background-color: lightpink;
}
.navbar-inverse .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, lightpink 68%, floralwhite 100%);
    border-radius: 10px;
}
/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

@media (min-width: 768px){
  .navbar-right {
      float: right!important;
      margin-right: 80px;
  }
}

@media (min-width: 768px){
  .navbar-nav {
    float: left;
    margin-left: 40px;
  }
}
.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
  